{% extends "layout.html" %}
{% block content %}
        {% if login_data.id %}
            <h2>Szczegóły mieszkania</h2>
            {% if apartment.owner.id == login_data.id %}
                <a href="/apartments/edit/{{ apartment.id }}">Edytuj</a>
                <a href="/apartments/{{ apartment.id }}/delete">Usuń</a>
            {% endif %}

            {% if apartment %}
                <table border="1px">
                    <tr>
                        <td>ID:</td>
                        <td>{{ apartment.id }}</td>
                    </tr>
                    <tr>
                        <td>Nazwa:</td>
                        <td>{{ apartment.name }}</td>
                    </tr>
                    <tr>
                        <td>Lokalizacja:</td>
                        <td>{{ apartment.address }}, {{ apartment.city }}</td>
                    </tr>
                    <tr>
                        <td>Właściciel:</td>
                        <td>{{ apartment.owner.firstname }}</td>
                    </tr>
                    <tr>
                        <td>Mieszkańcy ({{ apartment.residents_count }}):</td>
                        <td>
                            {% for resident in apartment.residents %}
                                <a href="/user/{{ resident.id }}">{{ resident.firstname }}</a>,
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Opis:</td>
                        <td>{{ apartment.description }}</td>
                    </tr>
                </table>
                <br/>
                <p>Rachunki: </p>
                <table class="table table-hover">
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Value</td>
                        <td>Value/person</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                    {% for bill in apartment.bills %}
                        <tr>
                            <td>{{ bill.name }}</td>
                            <td>{{ bill.description }}</td>
                            <td>{{ bill.value }}</td>
                            <td>{{ bill.divide }}</td>
                            <td><a href="/bills/edit/{{ bill.id }}">Edit</a></td>
                            <td><a data-method="delete" href="/bills/{{ bill.id }}/delete" rel="nofollow">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <br/>
                <div class="row">
                    <div class="col-md-5">
                        {% if apartment.owner.id == login_data.id %}
                            <br />
                            <h4>Dodaj użytkownika:</h4>
                            <form method="post" class="form-horizontal">
                                {% csrf_token %}
                                {{ form_resident }}
                                <div class="form-group">
                                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Dodaj" />
                                </div>
                            </form>
                            <br />
                        {% endif %}
                    </div>

                    <div class="col-md-offset-2 col-md-5">
                        <h4>Dodaj rachunek:</h4>
                        <form method="post" class="form-horizontal">
                            {% csrf_token %}
                            {{ form_bill }}
                            <div class="form-group">
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Dodaj" />
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div>Proszę się przelogować</div>
        {% endif %}
{% endblock %}