{% extends "layout.html" %}
{% block content %}
        {% if login_data.id %}
            <h2>Zarządzanie mieszkaniem</h2>
            <a href="create">Dodaj mieszkanie</a><br />

            {% if list_of_owned_apartments %}
                <table class="table table-responsive">
                    <tr>
                        <th>Lista własnych mieszkań:</th>
                    </tr>
                    {% for apartment in list_of_owned_apartments %}
                        <tr>
                            <td>&rArr; <a href="{{ apartment.id }}">{{apartment.name}}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if list_of_resident_apartments %}
                <table class="table table-responsive">
                    <tr>
                        <th>Lista zamieszkałych mieszkań:</th>
                    </tr>
                        {% for apartment in list_of_resident_apartments %}
                            <tr>
                                <td>&rArr; <a href="{{ apartment.id }}">{{apartment.name}}</a></td>
                            </tr>
                        {% endfor %}
                </table>
            {% endif %}

        {% else %}
            <div>Proszę się przelogować</div>
        {% endif %}
{% endblock %}