{% extends "layout.html" %}
{% block content %}
        {% if login_data.id %}
            <h2>Dodaj nowe mieszkanie</h2>
            <div>
            <form class="form-signin" method="post">
                <p><h1>Dodaj mieszkanie</h1>
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Dodaj" />
                </p>
            </form>
            </div>
        {% else %}
            <div>Zaloguj sie aby dodac nowe mieszkanie</div>
        {% endif %}

{% endblock %}