{% extends "layout.html" %}
{% block content %}
    {% if login_data.id %}
        <br /><br /><br />
        <center><div>Hello logged user!</div></center>
    {% elif login_data.signout %}
        <center><div>Successfully logged out!</div></center>
    {% else %}
        <center>
           <h1>Home</h1>
           This is coolest app in the world!<br />
           Sign in for free today!<br />
           It will take just few seconds.<br />
           <a href="signin">Click here</a>
       </center>
    {% endif %}
{% endblock %}