{% extends "layout.html" %}
{% block content %}
    {% if login_data.id %}
        <br /><br /><br />
        <center><div>Konto założone poprawnie!</div></center>
    {% elif email_in_use %}
        <center>
            <div>Podany adres email już istnieje w naszej bazie!</div>
            <a href="/signin">Try to log in.</a><span class="clearfix"></span>
        </center>
    {% else %}
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Rejestracja jest darmowa i zawsze taka będzie!</h1>
                <div class="account-wall">
                    <form class="form-signin" action="/signup/" method="post">{% csrf_token %}
                        {{ form }}
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Zarejestruj" />
                        <a href="/signin" class="pull-right new-account">Już posiadasz konto?</a><span class="clearfix"></span>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}