{% extends "layout.html" %}
{% block content %}
    <h1> Aplikacja do zarządzania sprawami współlokatorskimi </h1>
    Jest to projekt pomysłu i produkcji współlokatorów rozwiązujący problemy napotkane w czasie wspólnego mieszkania.<br />
    Brak prostego sposobu organizacji dla informatyka jest problemem, który nie powinien mieć miejsca.<br />
    Od razu pojawił się pomysł na załatwienie tej sprawy po swojemu i stąd narodził się pomysł na ten projekt.<br />
    <br />
    <table class="table table-responsive">
        <tr>
            <th>Aplikacja ta ma rozwiązać między innymi:</th>
        </tr>
        <tr>
            <td>&rArr; Problemy z rozliczaniem się za zakupy.</td>
        </tr>
        <tr>
            <td>&rArr; Problemy z czasami utrudnioną komunikacją (różne plany i praca mogą utrudnić widzenie się).</td>
        </tr>
        <tr>
            <td>&rArr; Problemy z rozliczaniem się w przypadku wynajmu kilku miejsc na raz.</td>
        </tr>
    </table>

{% endblock %}