{% extends "layout.html" %}
{% block content %}
    <h1> Chcesz się skontaktować? </h1>
    <b>Wybierz odpowiednią osobę, której szukasz:</b><br/><br/>
    <table class="table table-bordered">
                <tr>
                    <td>Admin: <a href="mailto:admin@zsw.pl">admin@zsw.pl</a></td>
                </tr>
                <tr>
                    <td>Tech serwis: <a href="mailto:tech@zsw.pl">tech@zsw.pl</a></td>
                </tr>
    </table>
    W celu chęci współpracy lub innych ofert proszę kontaktować się do admina.
{% endblock %}